.noteEditor {
  &__container {
    margin: 15px auto;
    width: 90%;
    max-width: 1000px;
    border: 1px solid #ddd;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  &__editor {
    padding: 10px;
    box-sizing: border-box;
    cursor: text;
    font-size: 16px;
    min-height: 300px;

    .public-DraftEditorPlaceholder-root,
    .public-DraftEditor-content {
      margin: 0 -15px -15px;
      padding: 15px;
    }

    .public-DraftEditor-content {
      min-height: 100px;
    }

    .RichEditor-blockquote {
      border-left: 5px solid #eee;
      color: #666;
      font-family: 'Hoefler Text', 'Georgia', serif;
      font-style: italic;
      margin: 16px 0;
    }

    .public-DraftStyleDefault-pre {
      background-color: rgba(0, 0, 0, 0.05);
      font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
      font-size: 16px;
      padding: 20px;
    }
  }
}
